[zabbix]
name=Zabbix Official Repository - $basearch
baseurl={{ zabbix_repo }}/zabbix/zabbix/{{ zabbix_version }}/rhel/{{ ansible_distribution_major_version }}/$basearch/
enabled=1
gpgcheck=1
gpgkey={{ zabbix_repo }}/zabbix/RPM-GPG-KEY-ZABBIX-A14FE591

[zabbix-frontend]
name=Zabbix Official Repository frontend - $basearch
baseurl={{ zabbix_repo }}/zabbix/zabbix/{{ zabbix_version }}/rhel/{{ ansible_distribution_major_version }}/$basearch/frontend
enabled=1
gpgcheck=1
gpgkey={{ zabbix_repo }}/zabbix/RPM-GPG-KEY-ZABBIX-A14FE591

[zabbix-debuginfo]
name=Zabbix Official Repository debuginfo - $basearch
baseurl={{ zabbix_repo }}/zabbix/zabbix/{{ zabbix_version }}/rhel/{{ ansible_distribution_major_version }}/$basearch/debuginfo/
enabled=0
gpgkey={{ zabbix_repo }}/zabbix/RPM-GPG-KEY-ZABBIX-A14FE591
gpgcheck=1

[zabbix-non-supported]
name=Zabbix Official Repository non-supported - $basearch
baseurl={{ zabbix_repo }}/zabbix/non-supported/rhel/{{ ansible_distribution_major_version }}/$basearch/
enabled=1
gpgkey={{ zabbix_repo }}/zabbix/rpm-gpg/RPM-GPG-KEY-ZABBIX
gpgcheck=1
